<div id="chara_frame">
    <div id="main">
        <img alt="Chara Photo" gid="photo">
        <div class="label" gid="nam">Loaing...</div>
        <div class="number" gid="level">Loaing...</div>
        <div class="number" gid="retime">Loaing...</div>
        <div class="number" gid="gold">Loaing...</div>
        <div class="number" gid="vipgold">Loaing...</div>
        <btn class="cricle" gid="bag">Bag</btn>
    </div>
    <div id="info_frame">
    <div id="info_button_frame">
        <radio data="info_base">屬性</radio>
        <radio data="info_equip">裝備</radio>
        <radio data="info_battle">戰鬥</radio>
        <radio data="info_stone">寶石</radio>
    </div>
    <ul id="info_base" class="info">
        <li>
            <div class="label"><%=lang.base('con')%>:</div>
            <div class="number" gid="con">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('int')%>:</div>
            <div class="number" gid="int">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('str')%>:</div>
            <div class="number" gid="str">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('ski')%>:</div>
            <div class="number" gid="ski">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('dex')%>:</div>
            <div class="number" gid="dex">Loading...</div>
        </li>
        
    </ul>
    <ul id="info_equip" class="info">
    </ul>
    <ul id="info_battle" class="info">
        <li>
            <div class="label"><%=lang.base('hp')%>:</div>
            <div class="number" gid="maxhp">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('mp')%>:</div>
            <div class="number" gid="maxmp">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('dmg')%>:</div>
            <div class="number" gid="dmg">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('mag')%>:</div>
            <div class="number" gid="mag">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('def')%>:</div>
            <div class="number" gid="def">Loading...</div>
        </li>
    </ul>
    <ul id="info_stone" class="info">
        <li>
            <div class="label"><%=lang.base('stone1')%>:</div>
            <div class="number" gid="lv1">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('stone2')%>:</div>
            <div class="number" gid="lv2">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('stone3')%>:</div>
            <div class="number" gid="lv3">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('stone4')%>:</div>
            <div class="number" gid="lv4">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('stone4')%>:</div>
            <div class="number" gid="lv5">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('stone5')%>:</div>
            <div class="number" gid="lv6">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('stone6')%>:</div>
            <div class="number" gid="lv7">Loading...</div>
        </li>
    </ul>
    </div>
</div>