<div id="chara_frame">
    <div id="main">
        <img alt="Chara Photo" gid="photo">
        <div class="label" gid="nam">Loaing...</div>
        <div class="number" gid="level">Loaing...</div>
        <div class="number" gid="retime">Loaing...</div>
        <div class="number" gid="gold">Loaing...</div>
        <div class="number" gid="vipgold">Loaing...</div>
        <btn class="cricle" gid="bag">Bag</btn>
    </div>
    <ul id="info">
        <li>
            <div class="label"><%=lang.base('str')%>:</div>
            <div class="number" gid="str">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('int')%>:</div>
            <div class="number" gid="int">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('ski')%>:</div>
            <div class="number" gid="ski">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('dex')%>:</div>
            <div class="number" gid="dex">Loading...</div>
        </li>
        <li>
            <div class="label"><%=lang.base('con')%>:</div>
            <div class="number" gid="con">Loading...</div>
        </li>
    </ul>

</div>