<br/>
<a href="login"><%=lang.txt.T0003%></a>|
<a href="reg"><%=lang.txt.T0004%></a>|
<a href="logout"><%=lang.txt.T0005%></a>|
<a href="auth/facebook" class="facebook"><%=lang.txt.T0006%></a>|
<a href="auth/google"><%=lang.txt.T0007%></a>
</body>
</html>
