<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <!--
    <script src="http://www.google.com/jsapi"></script>
    <script>
    google.load("jquery", "1");
    google.load("jqueryui", "1");
    </script>
-->
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/jquery-ui-1.10.4.custom.js"></script>
    <script src="/javascripts/zGame.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <div CLASS="msg_frame" gameFrame="message">
        <div CLASS="msg_box" id="msg_box">
            <h2>訊息</h2>
            <hr>
            <h3 id="msg">message</h3>
        </div>
    </div>
    <div CLASS="msg_frame" gameFrame="error">
        <div CLASS="msg_box" id="msg_box">
            <h2>訊息</h2>
            <hr>
            <h3 id="msg">error</h3>
        </div>
    </div>
    <div CLASS="msg_frame" gameFrame="loading">
        <div CLASS="msg_box">
            <h2>初始化中</h2>
            <hr>
            <h3 id="msg">Loading....</h3>
        </div>
    </div>
<%include layouts/city/guest%>
<%include layouts/city/quest%>
<%include layouts/city/active%>
<%include layouts/city/pet%>
<%include layouts/city/mix%>
<%include layouts/city/area%>
<%include layouts/city/map%>
<%include layouts/chara%>
<%include layouts/city/shop%>
<%include layouts/city/team%>
<%include layouts/city/home%>
    <script>
    window.onload = function() {
      var socket = io.connect('http://<%=host%>');
      socket.emit('login','<%-loginKey%>');
      var settings = <%-JSON.stringify(settings)%>;
      var lang = <%-JSON.stringify(lang.data.base)%>;
      <%include js/Modernizr.cjs%> 
      <%include js/main.cjs%>
<%-classjs%>
    <%include js/controller/Message.cjs%>
      <%include js/Game.cjs%>
      <%include js/app.cjs%>
        window.onresize = function(event) {

        }
    }
    </script>
</body>

</html>
